# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (keep /android included for EAS because this project has direct Android changes)
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
debug.log
*.bak
*.bak.*
*.pom
classes.jar

# macOS
.DS_Store
*.pem

# local env files
.env*.local
saerok-*-firebase-adminsdk-*.json

# local/project metadata not needed for cloud build
.github/
.vscode/
docs/

# typescript
*.tsbuildinfo
